<div class="row">
<% @todos.each do |todo| %>
<div class="col-sm-4">
<div class="card" style="width: 18rem;">
  <img src="<%= todo.image %>" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= todo.description %></h5>
    <%= link_to 'Detalle', todo_path(todo), class:'btn btn-primary'%>

    
  </div>
</div>
 
 </div>
<% end %>

</div>

